.card {
  display: flex;
}
.cards {
  flex-direction: row;
}
.img {
  height: auto;
  max-width: 350px;
  margin-right: 20px;
}
.input {
  box-sizing: border-box;
  width: 400px;

  margin-right: 20px;
}

.imgCast {
  display: block;
  max-width: 150px;
  height: auto;
}

.form {
  margin-top: 20px;
}
